.name {
  font-size: 2.5rem;
}
img {
  width: 200px;
  height: 200px;
  border: solid red 3px;
}

.target {
  width: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.details {
  align-items: center;

  margin: 0 3em;
  font-size: 1.2rem;
}
