<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="card mt-4">
        <div class="card-header">
          <p class="text-center perfil">Perfil</p>
        </div>
        <div class="card-body text-center">
          <p>Nombre <span>Hiram Aviv Castañon Razo</span></p>
          <p>E-mail: <span>avivrazo@gmail.com</span></p>
          <p>Telefono: <span>664 2451575</span></p>
          <p>
            Repositorio del proyecto:
            <a target="_blank" href="https://github.com/4viv/pokeapp"
              >Git Hub</a
            >
          </p>
          <p>
            Mi sitio web:
            <a target="_blank" href="http://aviv.netlify.app/">Mi web</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
